header{
    .navbar{
        .container-fluid{
            background-image: linear-gradient(to right, black,  grey);
            .navbar-brand{
                margin: 10px;
                padding: 10px;
                .logo{
                    height: 120px;
                    width: 200px;

                }
            }
            .collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        font-family: 'Silkscreen', cursive;
                        font-weight: bold;
                        font-size: 25px;
                        .nav-link{
                            color: rgb(176, 6, 6);
                        }
                    }
                }
            }
            .navbar-toggler{
                .menu{
                    width: 40px;
                }
            }
        }
    }
}